{% extends "layout.html.twig" %}
{% block content %}
	<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Galeria</h1>
                            <p>Congreso de Dermacosmética</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

	<section id="portfolio">
        <div class="container">
            <div class="row">
                <ul class="portfolio-filter text-center">
                    <li><a class="btn btn-default active" href="#" data-filter="*">Todas</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".2017">Edición 2017</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".2016">Edición 2016</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".2015">Edición 2015</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".2014">Edición 2014</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".videos">Videos</a></li>
                </ul><!--/#portfolio-filter-->
                    
                <div class="portfolio-items">
                    <!-- 2017 -->
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-001.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-001.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-002.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-002.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-003.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-003.jpg')}}"  data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-004.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-004.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-005.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-005.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-006.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-006.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-007.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-007.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-008.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-008.jpg')}}#" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-009.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-009.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-010.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-010.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-011.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-011.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-012.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-012.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-013.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-013.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-014.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-014.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-015.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-015.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2017">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2017/derma17-016.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2017/derma17-016.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <!-- 2016 -->
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-001.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-001.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-002.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-002.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-003.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-003.jpg')}}"  data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-004.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-004.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-005-sq.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-005.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-006.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-006.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-007.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-007.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-008.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-008.jpg')}}#" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-009.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-009.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-010.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-010.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-011.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-011.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-012.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-012.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-013.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-013.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-014.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-014.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-015.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-015.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2016">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2016/derma16-016.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2016/derma16-016.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <!-- 2015 -->
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-001.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-001.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-002.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-002.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-003.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-003.jpg')}}"  data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-004.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-004.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-005.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-005.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-006.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-006.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-007.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-007.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-008.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-008.jpg')}}#" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-009.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-009.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-010.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-010.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-011.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-011.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-012.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-012.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-013.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-013.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-014.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-014.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-015.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-015.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2015">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2015/derma15-016-sq.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2015/derma15-016.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <!-- 2014 -->
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-001-sq.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-001.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-002.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-002.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-003.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-003.jpg')}}"  data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-004.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-004.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-005.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-005.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-006.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-006.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-007.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-007.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-008.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-008.jpg')}}#" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-009.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-009.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-010.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-010.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-011.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-011.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-012.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-012.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-013.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-013.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-014.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-014.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-015.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-015.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-4 col-md-3 portfolio-item 2014">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{{asset('images/galeria/2014/derma14-016.jpg')}}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="{{asset('images/galeria/2014/derma14-016.jpg')}}" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="divider-lg"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row videos">
            	<div class="col-md-3">
	            	<a class="img-responsive img-center video2016" href="http://www.youtube.com/embed/rlINilLCdf8?rel=0&amp;wmode=transparent">
						<img src="{{asset('images/video2016.jpg')}}" class="img-responsive img-center img-circle">
					</a>
				</div>
				<div class="col-md-3">
					<a class="img-responsive img-center video2015" href="http://www.youtube.com/embed/K69FWI23nlk?rel=0&amp;wmode=transparent">
						<img src="{{asset('images/video2015.jpg')}}" class="img-responsive img-center img-circle">
					</a>
				</div>
				<div class="col-md-3">
                    <a class="img-responsive img-center video2014" href="http://www.youtube.com/embed/Lj6LLP2b93k?rel=0&amp;wmode=transparent">
                        <img src="{{asset('images/video2014.jpg')}}" class="img-responsive img-center img-circle">
                    </a>
				</div>
                <div class="col-md-3">
                    <a class="img-responsive img-center video-inv" href="http://www.youtube.com/embed/UHw3yQb3WiA?rel=0&amp;wmode=transparent">
                        <img src="{{asset('images/video-inv.jpg')}}" class="img-responsive img-center img-circle">
                    </a>
                </div>

            </div>
            <div class="divider-lg"></div>
        </div>
    </section>
    <!--/#portfolio-->
{% endblock %}
{% block js %}
	<script type="text/javascript" src="{{asset('js/jquery.isotope.min.js')}}"></script>
{% endblock %}  