{% extends "layout-new.html.twig" %}

{% block content %}    
    <header class="header header-inverse h-fullscreen p-0 overflow-hidden" data-parallax="{{asset('images/derma-bg-002.jpg')}}">
        <div class="container">

            <div class="row h-full">
                <div class="col-12 col-lg-6 align-self-end text-right hidden-md-down">
                    <img src="{{asset('images/girl-beauty.png')}}" alt="..." data-aos="slide-up" data-aos-offset="0">
                </div>
                <div class="col-12 col-lg-6 align-self-center text-center">

                    <img src="{{asset('images/derma-logo.png')}}" class="main-logo w-200" alt="slider image"><br/>
                    <img src="{{asset('images/derma-title-xl-2018.png')}}" class="main-title" alt="slider image">

                    <br><br>

                    <div>
                        <a class="btn btn-lg btn-round btn-info w-220" href="{{path('costos')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Regístrese Ahora</a>
                        <a class="btn btn-lg btn-outline btn-warning btn-round w-200 ml-8 hidden-sm-down" href="{{path('programa')}}">Programa</a>
                    </div>
                    
                </div>

            </div>

        </div>
    </header>
    <main class="main-content">

        <section class="section pb-0 overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 pb-70 align-self-center">
                        <ul class="timeline">
                            <li data-aos="slide-left">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{asset('images/timeline/1.jpg')}}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Novena<br>
                                            exitosa edición</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted" data-aos="slide-right">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{asset('images/timeline/2.jpg')}}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>1,000 Participantes<br>
                                            nacionales y extranjeros</h4>
                                    </div>
                                </div>
                            </li>
                            <li data-aos="slide-left">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{asset('images/timeline/3.jpg')}}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>+ 2,500<br>
                                            metros de exhibición</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted" data-aos="slide-right">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{asset('images/timeline/5.jpg')}}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Profesores y especialistas<br>
                                            nacionales e internaciones</h4>
                                    </div>
                                </div>
                            </li>
                            <li data-aos="slide-left">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{asset('images/timeline/7.jpg')}}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Congreso<br>
                                            teórico y práctico</h4>
                                    </div>
                                </div>
                            </li>  
                        </ul>
                        <div class="ending text-center" data-aos="slide-up">
                            <h4>Todos los líderes  
                                <br>de la dermatología cosmética
                                <br>y clínica en un mismo evento 
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
