{% extends "layout-new.html.twig" %}
{% block content %}
    <header class="header" data-parallax="{{asset('images/leaves-blue-top-001.png')}}">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h1>Laboratorios Participantes</h1>
                    <p>Congreso de Dermacosmética</p>
                    <p>
                        <a href="http://dermacosmetica.ahmreg.com/" class="btn btn-info btn-round" target="_blank">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrése Ahora
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <section id="services">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 text-center">
    				<p class="platinum">
                        <img src="{{asset('images/logos/merz.jpg')}}">
                        <img src="{{asset('images/logos/perspirex.jpg')}}">
                        <img src="{{asset('images/logos/radiesse.jpg')}}">
                        <img src="{{asset('images/logos/xeomeen.jpg')}}">
                        <img src="{{asset('images/logos/contractubex.jpg')}}"><br/>
                        <img src="{{asset('images/logos/pantogar.jpg')}}">
                        <img src="{{asset('images/logos/belotero.jpg')}}">
                        <img src="{{asset('images/logos/ultherapy.jpg')}}">
                        <img src="{{asset('images/logos/adisat.jpg')}}">
                        <img src="{{asset('images/logos/altecmed.jpg')}}"><br/>
                        <img src="{{asset('images/logos/fraxel.jpg')}}">
                        <img src="{{asset('images/logos/almasoprano.jpg')}}">
                        <img src="{{asset('images/logos/sweatx.jpg')}}">
                        <img src="{{asset('images/logos/gvi.jpg')}}">
                        <img src="{{asset('images/logos/ellanse.jpg')}}"><br/>
                        <img src="{{asset('images/logos/meg21.jpg')}}">
                        <img src="{{asset('images/logos/medicalia.jpg')}}">
                        <img src="{{asset('images/logos/solar.jpg')}}">
                        <img src="{{asset('images/logos/pierrefabre.jpg')}}">
                        <img src="{{asset('images/logos/euthermale.jpg')}}"><br/>
                        <img src="{{asset('images/logos/allergan.jpg')}}">
                        <img src="{{asset('images/logos/botox.jpg')}}">
                        <img src="{{asset('images/logos/latisse.jpg')}}">
                        <img src="{{asset('images/logos/juvederm.jpg')}}">
                        <img src="{{asset('images/logos/vichy.jpg')}}"><br/>
                        <img src="{{asset('images/logos/laroche.jpg')}}">
                        <img src="{{asset('images/logos/asacpharma.jpg')}}">
                        <img src="{{asset('images/logos/skinmedical.jpg')}}">
                        <img src="{{asset('images/logos/skinceuticals.jpg')}}">
                        <img src="{{asset('images/logos/q-clear.jpg')}}"><br/>
                        <img src="{{asset('images/logos/midiben.jpg')}}">
                        <img src="{{asset('images/logos/crl.jpg')}}">
                        <img src="{{asset('images/logos/galderma.jpg')}}">
                        <img src="{{asset('images/logos/dysport.jpg')}}">
                        <img src="{{asset('images/logos/emervel.jpg')}}"><br/>
                        <img src="{{asset('images/logos/restylane.jpg')}}">
                        <img src="{{asset('images/logos/dermatotec.jpg')}}">
                        <img src="{{asset('images/logos/medik8.jpg')}}">
                        <img src="{{asset('images/logos/nanogen3x.jpg')}}">
                        <img src="{{asset('images/logos/nanogen.jpg')}}"><br/>
                        <img src="{{asset('images/logos/reysa.jpg')}}">
                        <img src="{{asset('images/logos/fcells.jpg')}}">
                        <img src="{{asset('images/logos/vescica.jpg')}}">
                        <img src="{{asset('images/logos/eucerin.jpg')}}">
                        <img src="{{asset('images/logos/medstore.jpg')}}"><br/>
                        <img src="{{asset('images/logos/viora.jpg')}}">
                        <img src="{{asset('images/logos/valeant.jpg')}}">
                        <img src="{{asset('images/logos/sgp.jpg')}}">
                        <img src="{{asset('images/logos/venusconcept.jpg')}}">
                        <img src="{{asset('images/logos/arfamex.jpg')}}"><br/>
                        <img src="{{asset('images/logos/axios.jpg')}}">
                        <img src="{{asset('images/logos/ciruderm.jpg')}}">
                        <img src="{{asset('images/logos/hydrafacial.jpg')}}">
                        <img src="{{asset('images/logos/isdin.jpg')}}">
                        <img src="{{asset('images/logos/aesthetics.jpg')}}"><br/>
                        <img src="{{asset('images/logos/aquaskin.jpg')}}">
                        <img src="{{asset('images/logos/skintherapy.jpg')}}">
                        <img src="{{asset('images/logos/medicina-estetica.jpg')}}">
                        <img src="{{asset('images/logos/bioderma.jpg')}}">
                        <img src="{{asset('images/logos/farmapiel.jpg')}}"><br/>
                        <img src="{{asset('images/logos/advaita.jpg')}}">
                        <img src="{{asset('images/logos/sesderma.jpg')}}">
                        <img src="{{asset('images/logos/estetique.jpg')}}">
                        <img src="{{asset('images/logos/biologique.jpg')}}">
                        <img src="{{asset('images/logos/ifc.jpg')}}"><br/>
                        <img src="{{asset('images/logos/panalab.jpg')}}">
                        <img src="{{asset('images/logos/zeltiq.jpg')}}">
                        <img src="{{asset('images/logos/coolsculpting.jpg')}}">
                        <img src="{{asset('images/logos/als.jpg')}}">
                        <img src="{{asset('images/logos/prostemics.jpg')}}"><br/>
                        <img src="{{asset('images/logos/ahorro.jpg')}}">
                        <img src="{{asset('images/logos/maderma.jpg')}}">
                        <img src="{{asset('images/logos/ghunter.jpg')}}">
                        <img src="{{asset('images/logos/moncaderm.jpg')}}">
                    </p>
    			</div>
    		</div>
    	</div>
    </section>
    <!--/#page-breadcrumb-->
{% endblock %}