{% extends "layout-new.html.twig" %}
{% block content %}
	<header class="header" data-parallax="{{asset('images/leaves-blue-top-001.png')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Ponentes</h1>
					<p class="fs-20 opacity-70">Congreso de Dermacosmética</p>
					<p>
						<a href="http://dermacosmetica.ahmreg.com/" class="btn btn-info btn-round" target="_blank">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrése Ahora
						</a>
					</p>
				</div>
			</div>
		</div>
	</header>
	<main class="main-content">
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/barroso.jpg')}}" alt="...">
								<h5>Dr. Gerardo Barroso</h5>
								<div class="profiler-content">
									<small>Reproducción Asistida</small>
									<p>Formación profesional: Medico Cirujano egresado de la Universidad La Salle, Indivisa Manent.</p>
									<p>Ganador del premio “Dr. Gregorio Pérez Palacio” en Salud Reproductiva por la gran aportación a nivel académico y científico en el Área de Infertilidad y Reproducción Asistida, como líder de un grupo desarrolló la técnica en reproducción asistida de alta complejidad para pacientes portadores de VIH, de impacto mundial por la reducción de transmisión y generar la posibilidad de perpetuar la salud de la mujer. </p>
									<p>2002 Ingresa al Sistema Nacional de Investigadores<br>
									  2005 Recibe el premio “Prize to the medical by achivement for a better life” otorgado por la Organización Internacional para la Capacitación e Investigación Médica<br>
									  2007 Es nombrado Jefe del Departamento de Reproducción Asistida y Subdirector de Medicina Reproductiva del INPer<br>
									  2009 Ingresa a la Academia Nacional de Medicina como miembro numerario y gana el Premio Nacional en Salud Reproductiva, “Dr, Gregorio Pérez Palacios” en el área de Infertilidad y Reproducción asistida<br>
									  2010 Funda el Instituto de Salud Reproductiva e Infertilidad Nascere y es nombrado presidente de la Fundación SARA (Salud y Reproducción Asistida)<br>
									</p>
									<p>Correo electrónico: barrosog@me.com<br>
									  Sitio web: nascere.com.mx <br>
									  gerardobarroso.com.mx<br>
									  Facebook: Gerardo Barroso<br>
									  Twitter: gbarroso</p>
								  </div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/juan-miguel.jpg')}}" alt="...">
								<h5>Dr. Juan Miguel Pérez Diaz</h5>
								<div class="profiler-content">
									<p>El Dr. Juan Miguel Pérez Diaz se licenció en Medicina y Cirugía por la Facultad de Medicina de la Universidad de Valencia en el año 1999. Adicionalmente, ha obtenido la diplomatura de Posgrado en Dermofarmacia y Cosmetología para Medicina Cosmética por la Universitat de Barcelona en el año 2002: la diplomatura de Posgrado Bases Clínicas en Medicina y Cirugía Cosmética y la diplomatura de Posgrado Medicina del Envejecimiento por la Escola de Doctorat i Formació de la Universitat Autónoma de Barcelona en el año 2003; y el diploma de Capacitación de Medicina Cosmética, Estética y del Envejecimiento por el Colegio Oficial de Médicos de Murcia en el año 2008.</p>
									<p>Miembro de la Sociedad Española de Medicina y Cirugía cosmética, imparte de manera habitual cursos y clases magistrales. <br>
									De su afán por la investigación y el desarrollo de nuevos protocolos clínicos dan fe de la invención de las técnicas de rejuvenecimiento Bivectorial, y la Técnica Regeneration, entre otras. </p>
									<p>Con clínicas en Madrid y Alicante, su aproximación a la medicina destaca por el diagnostico avanzado, la vocación por la formación del colectivo médico y la optimización de las técnicas de inyección. </p>
									<p>Ponente habitual de congresos internacionales destaca su reciente participación en el III Congreso mundial en medicina estética con la ponencia Mini Lifting no quirúrgico con nuevas técnicas no invasivas.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/ingrid.jpg')}}" alt="...">
								<h5>Dra. ingrid lópez-gehrke</h5>
								<div class="profiler-content">
									<small>MÉDICO CIRUJANO DERMATO-ONCÓLOGO Y CÁNCER DE PIEL</small>
									<p>DIRECTORA MÉDICA DERMADF-CLÍNICA DERMATOLÓGICA CIUDAD DE MÉXICO </p>
									<p> &middot; Médico cirujano: Universidad Veracruzana, México<br>
									  &middot; Especialista en Dermatología y Cáncer de piel: Universidad Nacional Autónoma de México<br>
									  &middot; Hospital General de México S.S 2009<br>
									  &middot; Certificado por el Consejo Méxicano de Dermatología<br>
									  &middot; Práctica Privada como médico especialista en dermatología y cirugía dermatológica y oncológica<br>
									  &middot; Directora médica de DermaDF clínica dermatológica privada<br>
									  &middot; Speaker nacional e internacional para la industria farmacéutica de alto impacto en técnicas de rejuvenecimiento global con ácido hialurónico, toxina botulínica, policaprolactona, suturas de sustentación reabsorbibles, hidroxiapatita de calcio, terapias enzimáticas entre otros procedimientos médicos especializados.<br>
									  &middot; Vocero de la Fundación Mexicana para la Dermatología<br>
									  &middot; Miembro del Consejo Mexicano de Dermatología, Academia Mexicana de Dermatología, Sociedad Mexicana de Dermatología, Fundación Mexicana para la Dermatología, Colegio Ibero-Latinoamericano de Dermatología.<br>
									  &middot; Autora y co-autora de diversas publicaciones  en revistas médico-científicas de impacto nacional e internacional.<br>
									&middot; Co-autora y autora de capítulos varios en libros médicos especializados.</p>
									<p>DERMADF CIUDAD DE MÉXICO<br>
									  ingridlogehr@gmail.com   www. dermadf.mx<br>
									  Perpetua 40 Tercer piso Colonia San José Insurgentes, Ciudad de México<br>
									  +525516572748 celular<br>
									  +525555842504 Clínica</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/claudia.jpg')}}" alt="...">
								<h5>Claudia Marçal MD</h5>
								<div class="profiler-content">
									<small>Campinas, SãoPaulo – Brasil </small>
									<p><strong>Skills Summary</strong><br>
									PERFORMS COSMETIC PROCEDURES, INCLUDING LASER TREATMENTS AND INJECTABLES.</p>
									<p><strong>Education</strong><br>
									  &middot; CERTIFIED BOARD DERMATOLOGIST<br>
									  &middot; DERMATOLOGIC SURGEON<br>
									  &middot; CME HARVARD MEDICAL SCHOOL <br>
									</p>
									<p><strong>Experience</strong><br>
									&middot; MEMBER OF THE AMERICAN ACADEMY OF DERMATOLOGY<br>
									  &middot; MEMBER OF THE BRAZILIAN SOCIETY OF DERMATOLOGY<br>
									  &middot; MEMBER OF BRAZILIAN SOCIETY OF DERMATOLOGICAL SURGERY<br>
									  &middot; BOARD ADVISOR OF UNDERSKIN <br>
									  <br>
									FOUNDER AND OWNER OF ESPAÇO CARIZ DERMATOLOGY AND ADVANCED AESTHETICS MEDICAL SPA</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/viruega.jpg')}}" alt="...">
								<h5>Cristina Viruega Aranda</h5>
								<div class="profiler-content">
									<small>DIRECTORA GENERAL DE TERCEROS AUTORIZADOS EN PROTECCION Y VERIFICACION SANITARIA, S.A.P.I. DE C.V.</small>
									<p>Durante su trayectoria académica y profesional, ha sido Coordinadora General Jurídica y Consultiva en COFEPRIS, Titular de Relaciones Institucionales en Nadro, Socia Nacional en la Firma de Abogados Baker &amp; Mc Kenzie, Directora de Verificación Publicitaria en la COFEPRIS, Socia fundadora en VEQ Consultores, Socia en el Despacho de Abogados Alfaro y Marván Abogados.</p>
									<p>Dentro de sus reconocimientos destaca el otorgamiento de uno de los doce reconocimientos dentro de toda la administración pública a nivel nacional, concedido por el C. Presidente de la República en México, Lic. Vicente Fox Quezada y el Consejo Coordinador Empresarial, por la labor desempeñada como servidor público en materia de mejora regulatoria en diversos sectores, especialmente por las reformas logradas en materias de insumos para la salud, así como por la regulación en Materia de Biotecnológicos, plaguicidas, sustancias tóxicas, peligrosas y nutrientes vegetales. Asimismo, recibió Mención Honorífica en sus estudios de Licenciatura y posgrado.</p>
								</div>
								<br>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/urdiales.jpg')}}" alt="...">
								<h5>Dr. Fernando Urdiales Gálvez</h5>
								<div class="profiler-content">
									<small>Director Medico Propietario de Instituto Medico Miramar, con centros en Málaga capital y San Pedro de Alcántara (Marbella).</small>
									<p>www.institutomedicomiramar.com</p>
									<p><strong>Cursos de Formación Impartidos</strong><br>
									  Desde 1999 se han realizado cursos de formación en terapias láser a 220 médicos de diversas especialidades como cirugía plástica, medicina<br>
									estética, dermatología, cirugía vascular y cirugía general</p>
									<p>-Profesor del Master en Fototerapia y Patología Dermatoestetica organizado por el Colegio Oficial de Médicos de Barcelona, Cursos<br>
									  2008/2009, 2009/2010.<br>
									  -Profesor del Master en Medicina Estética, organizado por la Universidad de Córdoba, Cursos 2008/2009, 2009/2010.<br>
									  -1º Curso de Ecoestética. Organizador y Moderador. Instituto Médico Miramar, 14-15 de Noviembre del 2009.<br>
									  -2º Curso de Ecoestética. Organizador y Moderador. Instituto Médico Miramar, 12-13 de Junio del 2010.<br>
									  -Cursos de Formación ,como Local Ambassador de Allergan, en Voluminización Facial realizados en Madrid (2), Barcelona, Bilbao y Granada, Buenos Aires, durante el 2013 al 2016.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/kristian.jpg')}}" alt="...">
								<h5>Kristian Eichelmann Herrera</h5>
								<div class="profiler-content">
									<p><strong>RECONOCIMIENTOS ACADÉMICOS</strong></p>
									<p>• Reconocimiento como Estudiante distinguido de Postgrado 2012 de la especialidad de Dermatología. Hospital Universitario José Eleuterio González U.A.N.L.<br>
									  • 1er Lugar en el Concurso de Residentes en el “Noveno Curso Anual de Dermatología Cosmética” para Residentes de cuarto año en Dermatología. Querétaro 2012<br>
									  • Reconocimiento de “Mejor Tesis de Especialidad” Hospital Universitario José Eleuterio González U.A.N.L.  Octubre 2012.<br>
									•   Jefe de Residentes del Departamento de Dermatología del Hospital José Eleuterio González año académico 2012-2013.<br>
									</p>
									<p><strong>PUBLICACIONES:</strong></p>
									<p>- Herpes Zoster Ophthalmicus Masked by Hymenoptera Stings Autor.  The American Journal of the Medical Sciences Aceptado Julio 2012. </p>
									<p>- Lepra: puesta al día. Definición, patogénesis, clasificación, diagnóstico y   Tratamiento. Primer autor. Actas Dermo-Sifiliográficas, 2012</p>
									<p>- Imiquimod Indicaciones Terapéuticas en Dermatología Co – autor Capitulo 130 Dermatología Ibero – Americana On Line, 2011 </p>
									<p><strong>PONENCIAS:</strong><br>
									  <p>
									  • “1er Congreso de Actualización en Dermatología Dr Amado Saúl Cano”. San Cristobal de las Casas Chiapas. Tema: Piodermitis. Mayo 2011<br>
									  • “Abordaje Integral del Paciente con Melanoma”. Sociedad de Dermatología Nuevo León. Tema: Estudios Auxiliares en el Paciente con Melanoma. Febrero 2012. <br>
									  • “Manifestaciones cutáneas en Pacientes con Diabetes”, Taller Teórico Práctico para la Atención del Pie en las Personas con Diabetes Mellitus. Otorgado por La Secretaria de Salud del Estado de Nuevo León Julio 2012<br>
									  • “Exploración del paciente con lepra”, Taller Teórico Práctico para la atención del Paciente con Lepra. Otorgado por La Secretaria de Salud del Estado de Nuevo León. Enero 2013</p>
									<p>correo: eichelmannk@gmail.com </p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/esperanza.jpg')}}" alt="...">
								<h5>Esperanza C. Welsh, M.D</h5>
								<div class="profiler-content">
									<p><strong>AWARDS AND DISTINCTIONS</strong></p>
									<p>2015 -2016 Associate Editor. International Society of Dermatology.<br>
									2014 -2016 Education Committee. American Contact Dermatitis Society.<br>
									2014 -2016 Voluntary Professor. Dermatology Department. UANL.<br>
									2013 Speaker at the Maria Duran Symposium, ISD New Delhi India<br>
									  2012 Board Member of the Mexican Dermatology Foundation<br>
									  2011 Recertification by the American Board of Dermatology<br>
									  2007- 2010 Board Member of the Mexican Academy of Dermatology<br>
									  2005 Certification by the Mexican Board of Dermatology<br>
									  2005 ASDS Mentorship Award <br>
									  2004 American Board of Dermatology Certification in Dermatopathology<br>
									  2004 ASMS certification for Mohs Surgery<br>
									  2003 Clinical Dermatology Award, University of Miami<br>
									2003 WDS Mentorship Award </p>
									<p><strong>RESEARCH</strong> </p>
									<p>2004-2005 FDA Phase 3 Clinical Trials with Botulinum toxin and cosmetic fillers. University of Miami Cosmetic Center.<br>
									2004 Society of Dermatology of South Florida Research Award on the study of Biofilm Treatment of wounds with enzymes and antibiotics.<br>
									2000-2004 Biofilms and their impact on skin pathology. Dept. of Dermatology, University of Miami<br>
									1997-1998 Onychomycosis and psoriasis clinical trials. Dept. of Dermatology, Universidad Autonoma de Nuevo Leon, Mexico<br>
									1994-1995 Immunology department laboratory assistant researcher. Dept. of Dermatology, Universidad Autonoma de Nuevo Leon, México</p>
									<p><strong>PUBLICATIONS AND PRESENTATIONS</strong></p>
									<p>2015 Ultraviolet A-1 phototherapy as an alternative for resistant alopecia areata. IJD. 2015<br>
									2013 Clofarabine salvage therapy in refractory multifocal histiocytic disorders, including Langerhan Cell Hystiocytosis, juvenile xanthogranuloma, and Rosai Dorfman disease. Pediatr Blood Cancer. Sep 2013.
									</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/martha.jpg')}}" alt="...">
								<h5>Martha Elena García Meléndez</h5>
								<div class="profiler-content">
									<p> •   Reconocimiento otorgado por la Dirección de la Facultad de Medicina y Hospital Universitario “Dr. José Eleuterio González” por haber obtenido el PRIMER LUGAR del cuarto año de la Carrera Médico Cirujano y Partero. Septiembre de 2005 agosto de 2006. <br>
									•   Reconocimiento otorgado por la Dirección de la Facultad de Medicina y Hospital Universitario “Dr. José Eleuterio González” por haber obtenido el PRIMER LUGAR del quinto año de la Carrera Médico Cirujano y Partero. Septiembre de 2006 a agosto de 2007.<br>
									•   Reconocimiento otorgado por la Dirección de la Facultad de Medicina y Hospital Universitario “Dr. José Eleuterio González” por haber obtenido el PRIMER LUGAR del sexto año de la Carrera Médico Cirujano y Partero. Septiembre de 2007 agosto de 2008. <br>
									•   Reconocimiento otorgado por la Dirección de la Facultad de Medicina y Hospital Universitario “Dr. José Eleuterio González” por haber obtenido el TERCER LUGAR de la generación 2002-2008 de la Carrera Médico Cirujano y Partero. <br>
									•   Testimonio de Desempeño Sobresaliente obtenido en el Examen General para el Egreso de la Licenciatura en Medicina General por el Centro Nacional de Evaluación para la Educación Superior, A.C. México DF. (EGEL-MG)<br>
									•   Mención Honorífica otorgada por el Comité de Titulación de la Carrera Médico Cirujano y Partero. Enero 2009.<br>
									•   Carta al Mérito otorgada por la Secretaría de Salud del Estado de Nuevo León por haber demostrado un excelente desempeño en el Servicio Social de la carrera Medico Cirujano y Partero, realizado en la Jurisdicción Sanitaria No. 7, durante el período del 1° de agosto del 2008 al 31 de julio del 2009.<br>
									•   Certificada por el Consejo Mexicano de Dermatología 2014-2019.<br>
									•   Recipiente de la beca FIDE de la Academia Americana de Dermatología 2015.<br>
									•   Miembro de la Academia Mexicana de Dermatología.<br>
									•   Miembro de la Asociación Quintanarroense de Dermatología, A.C.<br>
									•   Miembro del Colegio Médico de Quintana Roo A.C</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/simon.jpg')}}" alt="...">
								<h5>Simon Camilo Harker Martinez</h5>
								<div class="profiler-content">
									<p><strong>EDUCACION</strong></p>
									<p><strong>POSTGRADO</strong></p>
									<p>PONTIFICIA UNIVERSIDAD JAVERIANA	Bogota, Colombia<br>
									  HOSPITAL UNIVERSITARIO DE LA SAMARITANA	Enero 2004 – Enero 2008<br>
									  <br>
									  Cirugía plástica, estética, reconstructiva, maxilofacial y de la mano. <br>
									</p>
									<p><strong>SERVICIO SOCIAL OBLIGATORIO</strong></p>
									<p>FUERZA AEREA COLOMBIANA							        Bogotá, Colombia<br>
									  COMANDO AEREO DE TRANSPORTE MILITAR				           Enero 2003 – Enero 2004</p>
									<p> -	Evacuación aeromedica y transporte de pacientes críticos.</p>
									<p><strong>PREGRADO </strong></p>
									<p>PONTIFICIA UNIVERSIDAD JAVERIANA	Bogotá, Colombia<br>
									  Medico cirujano.	Enero 1998 – Enero 2002<br>
									  ï	Internado rotatorio en Jackson Memorial Hospital						        Miami, EEUU<br>
									  Enero 2003 – Enero 2004<br>
									</p>
									<p><strong>ACTIVIDADES ACADAMICAS</strong></p>
									<p><strong>Clínica Palermo </strong><br>
									  Cirujano Plástico  adscrito<br>
									2009- 2012</p>
									<p><strong>Hospital de Meissen.</strong><br>
									  Instructor de Cirugía Plástica y Reconstructiva<br>
									2009- 2011</p>
									<p><strong>Hospital Universitario de la Samaritana</strong><br>
									  Instructor de Cirugía plástica y Cirugía de mano<br>
									2010- 2013</p>
									<p><strong>Universidad del Bosque.</strong><br>
									  Profesor de Cirugía Plástica y Reconstructiva.<br>
									  2016 – <br>
									</p>
									<p><strong>Universidad del Rosario.</strong><br>
									  Profesor de Medicina Estética<br>
									  2016 - <br>
									</p>
									<p><strong>Miembro de la Sociedad Colombiana de Cirugía Plástica. (Calidad de aspirante)</strong><br>
									CONGRESOS Y SIMPOSIOS.</p>
									<p><strong>Terceras jornadas de actualización en Laser y Luz pulsada.</strong><br>
									  Noviembre 17-21, 2000.<br>
									Barcelona, España.</p>
									<p><strong>V Simposio de ciencias neurológicas.</strong><br>
									  Pontificia Universidad Javeriana.<br>
									  Agosto 23-26, 2002.<br>
									  Bogotá, Colombia.<br>
									  Actualizaciones en Cirugía Plástica para médicos generales.<br>
									  Mayo, 2002<br>
									Bogotá, Colombia.</p>
									<p><strong>Simposio Lumen.</strong><br>
									  Enero 15-19, 2003.<br>
									Miami, EEUU.</p>
									<p><strong>Actualizaciones en labio y paladar hendido para el siglo 21.</strong><br>
									  Octubre 13-16, 2003.<br>
									Miami, EEUU.</p>
									<p><strong>XII Curso Internacional de Cirugía estética</strong><br>
									  Sociedad Colombiana de cirugía plástica.<br>
									  2004.<br>
									Bogotá, Colombia.</p>
									<p><strong>Jornadas de actualización en cirugía plástica.</strong><br>
									  Agosto 15-16 2006<br>
									Buenos Aires, Argentina.</p>
									<p><strong>XV Curso Internacional de Cirugía estética</strong><br>
									  Sociedad Colombiana de cirugía plástica.<br>
									  Marzo, 2007.<br>
									Bogota, Colombia</p>
									<p><strong>ASAPS aesthetic meeting.</strong><br>
									  Mayo 18-21, 2007.<br>
									San Diego, EEUU.</p>
									<p><strong>XVII Curso internacional de Cirugía estética</strong><br>
									  Sociedad colombiana de cirugía plástica<br>
									Mayo, 2009.</p>
									<p><strong>ASAPS aesthetic meeting </strong><br>
									  Junio, 2009 <br>
									Orlando, EEUU.</p>
									<p><strong>XVIII Curso internacional de Cirugía plástica</strong><br>
									  Mayo 2010<br>
									Pereira, Colombia</p>
									<p><strong>XXXIV Congreso Nacional de la SCCP</strong><br>
									  Mayo, 2014<br>
									  Cartagena, colombia<br>
									</p>
									<p><strong>XIX Curso Internacional de Cirugia Plastica Estetica Y III SImposios ISAPS.</strong><br>
									  Septiembre 2016<br>
									Cali, Colombia</p>
									<p><strong>IMCAS – International Master Course on Aeging Skin 2017</strong><br>
									  Enero, 2017<br>
									Paris, Francia</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>

					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/carla.jpg')}}" alt="...">
								<h5>Dr. Carla Homez </h5>
								<div class="profiler-content">
									<p>Dr. Carla Homez is the lead Aesthetics and Body Contouring Specialist at the renowned Bowes Dermatology by Riverchase in Miami, Florida. </p>
									<p>She received her Doctor of Medicine Degree at the age of 23, from the Universidad of Zulia, Venezuela. After relocating to the United Stated, she joined Bowes Dermatology which is associated with Dr. Dieter Manstein, co-inventor of CoolSculpting technology. In 2010, soon after she joined the practice, she became one of the first Specialists in the World utilizing CoolSculpting technology, and currently, one of the most sought out and experienced CoolSculpting Specialists at the Worldwide CoolSculpting Center of Excellence by Bowes Dermatology with domestic and international patients. <br>
									  Dr. Homez has coordinated several clinical studies for further development of CoolSculpting technology, as well as other technologies in the body contouring field. She is a highly regarded professional and Certified CoolSculpting expert, who participates in the training and lecturing of physicians and providers worldwide seeking greater expertise on this procedure. Her vast knowledge and skill set has been displayed during a number of live demonstrations and trainings on not only CoolSculpting, but also other technologies that are aesthetics based.<br>
									  Dr. Homez is passionate about aesthetics and skin care, she strives for the satisfaction her patients receive from great results.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/mariadelmar.jpg')}}" alt="...">
								<h5>Dra. María del Mar Campos Fernández</h5>
								<div class="profiler-content">
									<small>DERMATÓLOGA CERTIFICADA</small>
									<p><strong>CENTRO DERMATÓLOGICO PASCUA</strong><br>
									Dermatóloga Certificada<br>
									Ciudad de México, México</p>
									<p><strong>HOSPITAL DE LA SANTA CREU I SANT PAU</strong><br>
									  Especialidad en Dermatitis por Contacto<br>
									Barcelona, España</p>
									<p><strong>HOSPITAL CLINIC</strong><br>
									  Especialidad en Pelo y Uñas<br>
									Barcelona, España</p>
									<p><strong>HOSPITAL MOUNT SINAI</strong><br>
									  Especialidad en Cosmética Avanzada<br>
									Miami, Florida, EEUU</p>
									<p><strong>Dermatología Médica, Cosmética y Quirúrgica</strong><br>
									  Dirige la clínica MCF Skin desde el 2014 donde además cuenta con equipo de última generación para su práctica:<br>
									  ondas de choque, luz pulsada, láser erbium, skin tightening, láser de depilación, dye laser y Hydrafacial. La clínica se complementa con una farmacia especializada y un laboratorio de investigación cosmecéutica.<br>
									</p>
									<p>MCF Skin también tiene clínicas en Miami, Florida en Estados Unidos y en Barcelona, España.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/gabrielserrano.jpg')}}" alt="...">
								<h5>Dr. Gabriel Serrano</h5>
								<div class="profiler-content">
									<p><strong>ACADEMIC PROFESSIONAL EXPERIENCE:</strong><br>
									  1982-1988: University General Hospital Valencia, Spain, Assistant Professor of Dermatology<br>
									1988-Present: University General Hospital Valencia, Spain, Clinical Chief Department of Dermatology</p>
									<p><strong>DOCTORAL THESIS:</strong><br>
									Drug-induced photosensitivity: A review. Clinico-pathological, photobiological and photochemical studies during 10 years (1980-1989). Cum laud</p>
									<p><strong>DERMATOLOGY JOURNALS</strong><br>
									  Editor in chief of the Journal Piel y Dermocosmética Iberoamericana (Dermatology &amp; Cosmetic Iberoamerican), a scientific journal with circulation in Spain, Portugal and Latin America.<br>
									  Member of the Editorial Board of the Journal of the American Academy of Dermatology.<br>
									Member of the Editorial Board of Dermocosmética Clínica (Clinical Dermocosmetic), a scientific journal with circulation in Spain.</p>
									<p><strong>MEDICAL SOCIETIES</strong><br>
									  Academia Española de Dermatología y Sifilografía.<br>
									  Colegio Iberolatinoamericano de Dermatología.<br>
									  American Academy of Dermatology.<br>
									  American Society for Photobiology.<br>
									  American Society for Pediatric Dermatology.<br>
									  International Society of Pediatric Dermatology.<br>
									  The Skin and Cancer Foundation.<br>
									  International Society of Tropical Dermatology.<br>
									  European Society of Pediatric Dermatology.<br>
									European Academy of Dermatology</p>
									<p><strong>INTERNATIONAL PUBLICATIONS</strong><br>
									  1.	Fotosensibilidad. G. Serrano, J. Bonillo, E. Barberá, A. Aliaga. Pharmacia Mediterranea XIII: 183-191, 1980.<br>
									  2.	Perforating granuloma annulare and vitamin D. A. Aliaga, G. Serrano, J. De la Cuadra, J. M. Fortea. Dermatológica 164: 62-66, 1982.<br>
									  3.	Perforating granuloma annulare and vitamin D. A. Aliaga, G. Serrano, J. De la Cuadra, J. M. Fortea. Dermatology Digest, February, pag. 12, 1983.<br>
									  4.	Multicentric Reticulohistiocytosis. C.Guillen, J. M. Fortea, G. Serrano, M. A. Martorell, E. Cogollos, V. Alegre, A. Aliaga. Dermatológica 169: 311-317, 1984.<br>
									  5.	Basal cell tumor with eccrine differentiation (eccrine epitelioma). G. Serrano, A. Aliaga, J. Bonillo, C. Pelufo, D. Otero. Journal Cut Pathol 6: 553-557, 1984.<br>
									  6.	Candidiasis in parenteral heroin users: Clinicopathologic findings, J. de la Cuadra, J. L. Sánche Carazo, G. Serrano, A. Aliaga. Arch Dermatol 120: 1609-1610, 1984.<br>
									  7.	Piroxicam induced photosensitivity: In vivo and vitro studies of its photosensitizing potential. , G. Serrano, J. Bonillo, A. Aliaga, E. Gargallo, C. Pelufo. J. Am Acad Dermatol 1: 113-120, 1984.<br>
									  8.	Piroxicam induced photosensitivity. G. Serrano. J. Am Acad Dermatol 2: 373-374, 1985 (letter to editor).<br>
									  9.	Perinatal gangrene of the buttock: A spontaneous condition. G. Serrano, A. Aliaga, I. Febrer, J. Bonillo, C. Pelufo, D. Otero. Arch Dermatol 121: 23-24, 1985.<br>
									  10.	Photodistribution of varicella exanthem: Report of two cases. G. Serrano, A. Aliaga, J. Bonillo, C. Pelufo, D. Otero. Pediatric Dermatology 3: 215-218, 1986.<br>
									  11.	Photosensitivity to musk ambrette in Spain. G. Serrano, A. Aliaga, J. De la Cuadra, I. Planells, M. Lorente, J. Bonillo. Photodermatology 3: 186-188, 1986.<br>
									  12.	Photosensitivity associated with triflusal (Disgren). G. Serrano, A. Aliaga, I. Planells. Photodermatology 4: 103-105, 1986.<br>
									  13.	Reactive Perforating Collagenosis resposive to PUVA. Int J Dermatol 1988; 27: 118-119, 1988.<br>
									  14.	Riehl’s melanosis. Pigmented contact dermatitis cuased by fragrances. Serrano G, Pujol C, Cuadra J, eta al J. Am Acad Dermatol 1989; 21: 1057-1060.<br>
									  15.	Piroxicam-induced photosensitivity and contact sensitivity to thiosalicylic acid. Serrano G, Bonillo J, Aliaga A et al. J Am Acad Dermatol 1990; 23: 479-483.<br>
									  16.	Dacarbazine-induced photosensitivity. Serrano G, Aliaga A, Febrer I, et al. Photodermatology 1989; 6: 140-141.<br>
									  17.	Can piroxicam photodenwtitis be avoided. J. Cuadra, G. Serrano. J. Pujol et al. Dermatology in Europe, Florencia Italia, 25 al 28 de Septiembre de 1989. Pags. 747-749.<br>
									  18.	Acantoma de la vaina pilosa. Vilata J.J., Serrano G., Evole M et al. Med Cut I.L.A. 1990; XVIII: 374-377.<br>
									  19.	Photodegradation of Piroxicam under aerobic conditions. The photochemical keys of the piroxicam Enigma. J Photochem Photobiol 1991 8: 199-201.<br>
									  20.	Lesiones cutáneas elementales y exploración de la piel. G. Serrano, M. Rodríguez, J. M. Fortea. Medicine 1991; 88: 3411-3420.<br>
									  21.	Aspectos dermatológicos de la fotobiología. G. Serrano, J.L. Sanchez Carazo, M Grau Massanes. Medicine 1991; 88: 3429-3442.<br>
									  22.	Photosensitivity induced by fibric acid derivatives. Dermatology. Progress &amp; Perspectives. The proccedings of the 18 th World Congresss of Dermatology. G. Serrano, J. Fortea, F. Millan, V. Sabater, A. Aliaga. Nueva York, Junio 12-18, 1992. Poster presentation. Pag. 1247.<br>
									  23.	Contact allergy from acné creams. Dermatology. Progress &amp; Perspectives. The proccedings of the 18 th World Congresss of Dermatology. G. Serrano, J. Fortea, F. Millan, M. Latasa, A Aliaga. Nueva York, Junio 12-18, 1992. Poster presentation. Pag. 1246-1247.<br>
									  24.	A case of dissseminated cutaneous pseudolymphoma. Dermatology. Progress &amp; Perspectives. The proccedings of the 18 th World Congresss of Dermatology. G. Serrano, J. Fortea, F. Millan, V. Sabater, A. Aliaga. Nueva York, Junio 12-18, 1992. Poster presentation, pag. 1219.<br>
									  25.	Contact and photocontact dermtitis to dicloran in orange workers. Dermatology. Progress &amp; Perspectives. The proccedings of the 18 th World Congresss of Dermatology. G. Serrano, J. Fortea, F. Millan, V. Sabater, A. Aliaga. Nueva York, Junio 12-18, 1992. Poster presentation.<br>
									  26.	Photosensitivity induced by fibric acid derivatives and its relation to photocontact dermtitis to ketoprofen. G. Serrano, J. M. Fortea, J. M. Latasa, F. Millan, C. Janes, F. Bosca. J Am Acad Dermatol 1992; 27: 204-208.<br>
									  27.	Contact allergy to resorcinol in acne medications: Report of three cases. G. Serrano, J. M. Fortea, F. Millan, R. Botella, J. M. Latasa. J Am Acad Dermatol 1992; 26: 502-504.<br>
									  28.	Oxicam-induced photosensitivity. Patch and photopatch testing studies with tenoxicam and piroxicam photoproducts in normal subjects and in piroxicam-droxicam photosensitive patients. G. Serrano, J. M. Fortea, J. M. Latasa, 0. San Martin, J. Bonillo, M. A. Miranda. J. Am Acad Dermatol 1992; 26: 545-548.<br>
									  29.	Topical progesterone as treatment of choice in genital lichen sclerous and atrophicus in children. Journal of Pediatric Dermatology 1993; 10: 2.<br>
									  30.	Oxicam-induced photosensitivity: New aspects: Serrano G. Focus on Therapy, 1993; 3: 76-82.<br>
									31.	Trichorhynophalangeal síndrome. M. Rodriguez, G. Serrano, A. Perez, A. Aliaga. Pediatric Dermatology 1993.</p>
									<p><strong>SES –GROUP:</strong><br>
									  Founder and president of the SES-Group (1989-present).<br>
									  2 companies from the Group:<br>
									  -	SESDERMA: Manufacture and commercialize sikin, hair and nail and dietetic products which are promoted through representatives who visit dermatologists, Plastic surgeons and allied professionals once a month. Products are sold in pharmacies by doctors recommendations. The Company belongs to 35 dermatologists who practice in different áreas of the country (65% is owned by me).<br>
									  SESDERMA is also well established in some Latin America countries such as Colombia and Dominican Republic and is finishing product registration in Venezuela, Peru, Ecuador, Panama and El Salvador. Operations in the USA started this month. In the USA products will be marketed initially directly to doctors living in áreas of Spanish speaking patients (Florida, California, New York). Sesderma products were selected for the Cosmetic Center of the University of Miami and started to be sold there this month. In Asia we are represented in Taiwan (through a Company called nice gardens). Singapore and Hong Kong. Preliminary talks have been initiated with companies from Thailand and China. In Europe we have business in Portugal and some áreas of France. Sales in Spain are higher than USD $ 50 million/year.<br>
									  Spain are higher than USD $ 50 million/year.<br>
									-	MEDIDERM: Distribute medical equipment and products to dermatologists, Plastic surgeons and allied professionals taking advantage of the Sesderma sale’s forcé and structure.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>

					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/luisenrique.jpg')}}" alt="...">
								<h5>Dr. Luis Enrique Sánchez Dueñas.</h5>
								<div class="profiler-content">
									<small>Médico Dermatólogo egresado del Instituto Dermatológico de Jalisco &quot;Dr. José Barba Rubio&quot;.</small>
									<p>Entrenamiento en dermatoscopía en Skin Cancer Associates en Miami y tricoscopía en la Escuela Miller de medicina de la Universidad de Miami.<br>
									  Miembro fundador del Colegio Mexicano de Dermatoscopia e Imágen Cutánea.<br>
									  Actual presidente del Colegio Médico de Dermatólogos de Jalisco.<br>
									Práctica privada en el Centro de Restauración Capilar en Dermika, Centro Dermatológico Láser en Guadalajara, Jalisco.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/osvaldo.jpg')}}" alt="...">
								<h5>Dr. Med. Osvaldo T. Vázquez Martínez</h5>
								<div class="profiler-content">
									<small>Cirujano Dermatólogo</small>
									<p><strong>Pregrado</strong><br>
									  •	Facultad de Medicina de la U.A.N.L.<br>
									•	Ruprecht-Karls-Universität Heidelberg, Alemania.</p>
									<p><strong>Posgrado</strong><br>
									  •	Servicio de Dermatología del Hospital Universitario de la U.A.N.L.<br>
									  •	Subespecialidad de Cirugía Dermatológica Cosmética y Oncológica en la Fundacão ABC São Paulo, Brasil.<br>
									•	Doctorado en Medicina por la UANL.</p>
									<p><strong>Entrenamientos quirúrgicos</strong><br>
									  •	Departamento de Cirugía Plástica de Universidad de Aachen, Alemania.<br>
									  •	Hospital Sirio Libanes en São Paulo, Brasil.<br>
									•	Universidad de Chandigarh, India.</p>
									<p><strong>Educación Médica Continua</strong><br>
									  •	Múltiples Congresos Nacionales e Internacionales.<br>
									  •	Investigación en el campo de la Dermatología y Cirugía.<br>
									  •	Publicación de artículos en revistas científicas Nacionales e Internacionales y capítulos de libros.<br>
									  •	Profesor del Servicio de Dermatología y Coordinador de Cirugía.<br>
									  •	Dermatológica del Hospital Universitario de la U.A.N.L.<br>
									•	Miembro del Sistema Nacional de Investigadores SIN</p>
									<p><strong>Practica Privada</strong><br>
									•	Director General de clínicas SkinGroup</p>
									<p><strong>Practica Institucional</strong><br>
									  •	Profesor de Dermatologia, Hospital Universitario de la UANL<br>
									  •	Jefe de Cirugia Dermatologica, Hospital Universitario de la UANL<br>
									•	Coordinador de Calidad en Dermatologia del Hospital Universitario.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/valeria.jpg')}}" alt="...">
								<h5>Dra . Valeria P Lcopez Mecle</h5>
								<div class="profiler-content">
									<small>Medica especialista  en Medicina Estetica Y Nutricion</small>
									<ul class="text-left">
									  <li>Presidente de SAMEI, Sociedad Argentina de medicos expertos en inyectables</li>
									  <li>Miembro del Board  Del Allergan Academy (Argentina)</li>
									  <li>Miembro de la WOSIAM y otras  sociedades Científicas</li>
									  <li>Speaker  internacional de Allergan en numerosos Congresos nacionales e internacionales </li>
									  <li>Speaker internacional de IBSA</li>
									  <li>Speakear Internacional de Scorpion.Tecnologia  Medica</li>
									  <li>Autora de diferentes articulos cientificos y del capitulos de libros ref</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>

					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/gissel.jpg')}}" alt="...">
								<h5>Dra. Gissel Castellanos Ramos</h5>
								<div class="profiler-content">
									<small>Dermatologa Egresada del Centro Dermatologico Pascua</small>
									<p>
										Recertificacion por el Consejo Mexicano de Dermatología 1272<br>
									</p>
									<p>Miembro de la Sociedad Mexicana de Dermatología y del Colegio Iberolatinoamericano de Dermatologia<br>
									  Experiencia como Speaker de Fillers para Merz Pharma, Yvoire, Farmapiel/Sinclair<br>
									  Entrenador Nacional Silhouette/Ellanse para Farmapiel/Sinclair<br>
									Director Medico en Bouclier Clinica Dermatologica/Estetica/Laser, Veracruz.</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/ricardo.jpg')}}" alt="...">
								<h5>Héctor Ricardo Galvan García M.D.</h5>
								<div class="profiler-content">
									<small>University of Guadalajara, Jalisco, Mexico.</small>
									<p><strong>Biography:</strong><br>
									Hector Ricardo Galvan Garcia has completed his M.D. at the age 18 years from Guadalajara University and postdoctoral studies from Institut of Dermatology of Jalisco. He is director of Hospital Dermatology Dermoquirurgica in Jalisco, Mexico.,and he has published  more  20 papers in reputed journals and serving as an editorial board member of repute.</p>
									<ul>
									  <li>School Medicine University of Guadalajara 1989-1995.
									    </li>
									  <li>Hospital Internal Medicine ISSTE, Guadalajara Jalisco 1995-1996.
									    </li>
									  <li>Institut of Dermatology of Jalisco, Dermatology M.D. 1996-1999.
									    </li>
									  <li>Institut of Dermatology of Jalisco, Surgery Dermatology 1999-2000.
									  </li>
									  </ul>
									  
									  <p><strong>Merbership</strong>: </p>
									  <ul>

									  <li>European Academy of Cosmetic Surgery
									    </li>
									  <li>Mesoamerican Academy of Cosmetic Surgery
									    </li>
									  <li>South American Academy of Cosmetic Surgery
									    </li>
									  <li>Society Mexican of Surgery Dermatology and Oncology
									    </li>
									  <li>Society Iberoamerican   of Surgery Dermatology and Oncology
									    </li>
									  <li>International Academy of Cosmetic Dermatology
									    </li>
									  <li>Society American of Medicine Laser and Surgery
									    </li>
									  <li>International Society of Dermatology</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/monica.jpg')}}" alt="...">
								<h5>Mónica Elena Restrepo Giraldo.</h5>
								<div class="profiler-content">
									<p>Médico Cirujano egresado de la UNIVERSIDAD LIBRE de Cali  especialista en Cirugía General del HOSPITAL ADVENTISTA SILVESTRE MEC (Ministerio de Educación y Cultura) de Río de Janeiro (Brasil), y  ESTAGIO (Especialista) en Cirugía Plástica y Estética  de la CLINICA  FLUMINENSE  DE  CIRUGIA PLASTICA, (Programa de Residencia en Cirugía Plástica Reconocido por la Sociedad Brasilera de Cirugía Plástica), de Niteroi Brasil, Residente Médica (3 años) del HOSPITAL UNIVERSITARIO ANTONIO PEDRO, UFF (Universidad Federal Fluminense) MEC (Ministerio de Educación y Cultura)  Miembro de Número de la SOCIEDAD COLOMBIANA  DE CIRUGÍA PLÁSTICA, ESTÉTICA, MAXILOFACIAL Y DE LA MANO, Miembro de la FEDERACIÓN IBEROLATINOAMERICANA DE CIRUGÍA PLÁSTICA  FILAC, Miembro de la INTERNATIONAL SOCIETY OF AESTHETIC PLASTIC SURGERY ISAPS, Miembro de AMERICAN SOCIETY OF PLASTIC SURGEONS, Conferencista invitada  de ISAPS, Conferencista invitada en BAAS Santiago de Chile, Conferencista invitada MERZ AESTHETICS (Anatomical Expert), socia y Miembro del Grupo de Cirugía Plástica Estética y Reconstructiva del CENTRO MÉDICO IMBANACO CMI de Cali (Colombia).</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>

					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/siluetam.jpg')}}" alt="...">
								<h5>Dra. Rosa López</h5>
								<div class="profiler-content">
									<p>Egresada del Hospital General Dr. Manuel Gea González.  Participación con carteles en congresos nacionales e internacionales. Autora de capítulos en libros especializados y artículos de investigación dermatológica. Su tesis estuvo dentro las 5 mejores de su Hospital. Ha recibido múltiples capacitaciones en dermatología estética.
									</p>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/silvia.jpg')}}" alt="...">
								<h5>Silvia Olmedo</h5>
								<div class="profiler-content">
									<small>Psicólogo PhD</small>
									<p>Silvia Olmedo es psicóloga PhD, además es diplomada en criminología y tiene una maestría en sexualidad.  Antes de dedicarse a la promoción de la salud Silvia Olmedo trabajaba como investigadora en Londres para IMS Health. De caballo entre Los Ángeles y México lleva once años produciendo los contenidos y conduciendo sus programa de TV  en Televisa.  Sus programas son iconos del desarrollo personal relaciones de pareja y psicología. A  sus conocimiento profundo de psicología  le une su capacidad de divulgarlos de una manera entretenida, convirtiendo cualquier tema interesante. Su página es de la más visitadas  en relaciones humanas. Autora de cuatro  best sellers, ama dar conferencias diseñar e implementar programas de promoción para la salud. </p>
									<p><strong>Libros (autora de 4 best sellers más de 250,000 libros vendidos)</strong></p>
									<p><strong>Presentando libros, Feria del libro de los Ángeles, FIL de Guadalajara, Palacio de Mineria México.</strong><br>
									  2008  	Pregúntale a Silvia:  Libro de autoayuda para adolescentes<br>
									  2010   Los Misterios del Amor y el Sexo: Libro sobre la naturaleza del amor y el sexo<br>
									  2015 	Mis Sentimientos Erróneos: Libro sobre superación y crecimiento personal<br>
									2016  Detox Emocional, libro que también salió en España (allá va por su cuarta edición)</p>
									<p><strong>Radio</strong><br>
									Exa, sección psicologia y sexualidad con los monchis, Programa de noche Intimamente MVS</p>
									<p><strong>Reconocimientos</strong></p>
									<ul>
									  <li>Mujer del año por la cámara de comercio Mexicana por su labor en la divulgación de la psicología (México Df)<br>
									    </li>
									  <li>Conductora con mayor responsabilidad social  en la Televisión (Fundación Bienestar) Los Ángeles <br>
									    </li>
									  <li>Embajadora de la salud en redes sociales para la secretaria de salud de México<br>
									    </li>
									  <li>Fue directora para IberoAmérica de la mayor empresea de investigación y consutoria en Londres (IMS) ha diseñado y divulgado programas de promoción de la salud en más de 6 países.<br>
									    </li>
									  <li>Su libro Mis  Sentimientos Erróneos fue el más pirateado en el 2015 con más de 40,000 copias. (no es un reconocimiento es más una anécdota)</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>
				<!--
				<div class="row">
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/carla.jpg')}}" alt="...">
								<div class="profiler-content">
									
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/carla.jpg')}}" alt="...">
								<div class="profiler-content">
									
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
					<div class="col-12 col-md-4 team-2">
						<div class="card card-shadowed card-hover-shadow">
							<div class="card-block">
								<img src="{{asset('images/ponentes2/carla.jpg')}}" alt="...">
								<div class="profiler-content">
									
								</div>
							</div>
						</div>
						<div class="divider-sm"></div>
					</div>
				</div>
		-->
			</div>
		</section>
	</main>
{% endblock %}