<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Congreso Internacional Dermacosmética 2017 - Todos los líderes de la dermatología cosmética y clínica en un mismo evento">
	    <meta name="keywords" content="Derma Cosmética,Derma cosmetica,cosmetica,dermatología,Dr. Javier Ruiz, Javier, Javier Ruiz, Dr. Riuz, Congreso Dr. Ruiz, dermacosmetica 2017">
	    <meta name="author" content="warptech.mx" />
	    <meta http-equiv="Last-Modified" content="Thursday, 4-Feb-16 00:15:00 GMT" />
	    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate" />
	    <meta http-equiv="Pragma" content="no-cache" />
	    <meta http-equiv="Expires" content="Mon, 26 Jun 1997 05:00:00 GMT" />
	    <title>Congreso Internacional Dermacosmética 2017</title>

		<!-- Styles -->
		<link href="{{asset('css/core.min.css')}}" rel="stylesheet">
		<link href="{{asset('css/thesaas.min.css')}}" rel="stylesheet">
		<link href="{{asset('css/style.css')}}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Muli:300,400,600" rel="stylesheet">
		<link href="{{asset('css/hack-style2-derma.css')}}" rel="stylesheet">

		<!-- Favicons -->
	    <link rel="apple-touch-icon" sizes="57x57" href="{{asset('images/favicon/favicon-57.png')}}" />
	    <link rel="apple-touch-icon" sizes="60x60" href="{{asset('images/favicon/favicon-60.png')}}" />
	    <link rel="apple-touch-icon" sizes="72x72" href="{{asset('images/favicon/favicon-72.png')}}" />
	    <link rel="apple-touch-icon" sizes="76x76" href="{{asset('images/favicon/favicon-76.png')}}" />
	    <link rel="apple-touch-icon" sizes="114x114" href="{{asset('images/favicon/favicon-114.png')}}" />
	    <link rel="apple-touch-icon" sizes="120x120" href="{{asset('images/favicon/favicon-120.png')}}" />
	    <link rel="apple-touch-icon" sizes="144x144" href="{{asset('images/favicon/favicon-144.png')}}" />
	    <link rel="apple-touch-icon" sizes="152x152" href="{{asset('images/favicon/favicon-152.png')}}" />
	    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('images/favicon/favicon-180.png')}}" />
	    <link rel="icon" type="image/png" href="{{asset('images/favicon/favicon-32.png')}}" sizes="32x32" />
	    <link rel="icon" type="image/png" href="{{asset('images/favicon/favicon-194.png')}}" sizes="194x194" />
	    <link rel="icon" type="image/png" href="{{asset('images/favicon/favicon-96.png')}}" sizes="96x96" />
	    <link rel="icon" type="image/png" href="{{asset('images/favicon/favicon-192.png')}}" sizes="192x192" />
	    <link rel="icon" type="image/png" href="{{asset('images/favicon/favicon-16.png')}}" sizes="16x16" />
	</head>
	<body id="home">
		<!-- Topbar -->
		<nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
			<div class="container">
				<div class="topbar-left">
					<a class="topbar-brand" href="index.html">
						<img class="logo-default" src="{{asset('images/derma-logo-hor.png')}}" alt="logo">
						<img class="logo-inverse" src="{{asset('images/derma-logo-horizontal.png')}}" alt="logo">
					</a>
				</div>
				<div class="topbar-right">
					{{ include('nav-new.html.twig') }}
					<button class="topbar-toggler">&#9776;</button>
				</div>
				<div class="topbar-right social-med hidden-lg-down">
					<span><a class="social-facebook" href="https://www.facebook.com/Dermacosmetica-1019810828097731/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a> </span>
					<span><a class="social-twitter" href="https://twitter.com/dermacosmetica" target="_blank"><i class="fa fa-twitter"></i></a></span> 
					<span><a class="social-instagram" href="https://www.instagram.com/dermacosmetica/" target="_blank"><i class="fa fa-instagram"></i></a></span>
				</div>
			</div>
		</nav>
		{% block content %}
		<header class="header header-inverse h-fullscreen p-0 overflow-hidden" data-parallax="{{asset('images/bg-derma.jpg')}}">
			<div class="container">

				<div class="row h-full">
					<div class="col-12 col-lg-6 align-self-center text-center">

						<img src="{{asset('images/derma-logo.png')}}" class="main-logo w-200" alt="slider image"><br/>
						<img src="{{asset('images/derma-title-2017.png')}}" class="main-title" alt="slider image">

						<br><br>

						<div>
							<a class="btn btn-lg btn-round btn-info w-200" href="{{path('costos')}}">Regístrese Ahora</a>
							<a class="btn btn-lg btn-outline btn-warning btn-round w-200 ml-8 hidden-sm-down" href="{{path('programa')}}">Programa</a>
						</div>
						
					</div>


					<div class="col-12 col-lg-6 align-self-end text-right hidden-md-down">
						<img src="{{asset('images/beauty-005.png')}}" alt="..." data-aos="slide-up" data-aos-offset="0">
					</div>

				</div>

			</div>
		</header>
		<main class="main-content">

			<section class="section pb-0 overflow-hidden" id="section-features">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6 text-center">
							<img class="mr-40" src="{{asset('images/volume-001.jpg')}}" alt="..." data-aos="slide-up">
						</div>
						<div class="col-12 col-md-6 align-self-center pb-70 advert text-center" >
							<h3>Pre Congreso</h3>
							<h5>
								Curso personalizado de
								voluminización facial y botulínica.
							</h5>
							<h4>
								Técnicas avanzadas
							</h4>
							 <p class="lead">Concepto y aplicación del PHI-phi en el rostro, número aureo<br/>
								Videos de anatomía cadavérica, inyecciones en vivo.
							</p>
							<h5>
								4 de Octubre, 2017<br/>
								Centro Citibanamex - Palacio de Iturbide 3
							</h5>
							<br/>
							<div class="flexbox flex-grow-all gap-items-2">
								<div class="row gap-y">
									<div class="col-12 col-md-6 team-2">
										<img src="{{asset('images/ponentes/dra-valeria-lopez.jpg')}}" width="100" alt="...">
										<h5>Dra. Valeria López</h5>
										<small>Presidenta SAMEI</small>
										<p>
											(Sociedad Argentina Médica Expertos en Inyectables)<br/>
											Speaker Internacional <br/>
											<strong>MERZ - ALLERGAN - IBSA</strong>
										</p>
									</div>
									<div class="col-12 col-md-6 team-2">
										<img src="{{asset('images/ponentes/dr-javier-ruiz.jpg')}}" width="100" alt="...">
										<h5>Dr. Javier Ruíz Ávila</h5>
										<p>
											(Sociedad Mexicana Médica Expertos en Inyectables)<br/>
											Speaker Internacional<br/>
											<strong>MERZ - ALLERGAN - GALDERMA</strong>
										</p>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-lg-12 text-center">
									<div class="card card-shadowed card-bordered card-hover-shadow">
										<div class="card-block">
											<h5 class="card-title">DURACIÓN 1 DÍA</h5>
											<p class="lead">
					                            Costo del taller $2,000.00 USD + IVA<br/>
					                            <strong>Cupo limitado a 50 lugares Incluye Acceso al Congreso </strong>
					                        </p>
					                        <p>
				                            	<a href="{{path('costos')}}" class="btn btn-round btn-info">Inscribirse Ahora</a>
				                        	</p>
				                        </div>
				                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section" style="background-image: linear-gradient(120deg, #E3F2FD 0%, #E8EAF6 100%)">
				<div class="container text-center">
					<header class="section-header">
						<h2>Dermacosmética Videomemoria</h2>
						<p>Visite Nuestra Galería de Ediciones Pasadas</p>
					</header>
					<div class="row gap-y">
						<div class="col-12">
							<div class="video-btn-wrapper">
								<img class="shadow-2 rounded" src="{{asset('images/videomemoria.jpg')}}" alt="..." width="500">
								<a class="btn btn-circular btn-glass" href="//www.youtube.com/embed/rlINilLCdf8" data-provide="lightbox"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>
					<div class="text-center mt-50">
						<a class="btn btn-primary btn-round" href="{{path('galeria')}}">Galeria Ediciones Pasadas</a>
					</div>
				</div>
			</section>

			<section class="section pb-0 overflow-hidden">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-12 pb-70 align-self-center">
							<ul class="timeline">
		                        <li data-aos="slide-left">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="{{asset('images/timeline/1.jpg')}}" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>Octava<br>
		                                        exitosa edición</h4>
		                                </div>
		                            </div>
		                        </li>
		                        <li class="timeline-inverted" data-aos="slide-right">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="{{asset('images/timeline/2.jpg')}}" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>1,000 Participantes<br>
		                                        nacionales y extranjeros</h4>
		                                </div>
		                            </div>
		                        </li>
		                        <li data-aos="slide-left">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="{{asset('images/timeline/3.jpg')}}" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4><span class="yellow">+</span> + 2,500<br>
		                                        metros de exhibición</h4>
		                                </div>
		                            </div>
		                        </li>
		                        <li class="timeline-inverted" data-aos="slide-right">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="{{asset('images/timeline/4.jpg')}}" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>Presencia de 75 laboratorios<br/>
		                                        y 250 marcas</h4>
		                                </div>
		                            </div>
		                        </li>
		                        <li data-aos="slide-left">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="{{asset('images/timeline/5.jpg')}}" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>Profesores y especialistas<br>
		                                        nacionales e internaciones</h4>
		                                </div>
		                            </div>
		                        </li>
		                        <li class="timeline-inverted" data-aos="slide-right">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="{{asset('images/timeline/6.jpg')}}" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>Pre-congreso personalizado<br/>
		                                        de voluminización facial y botulínica</h4>
		                                </div>
		                            </div>
		                        </li>
		                        <li data-aos="slide-left">
		                            <div class="timeline-image">
		                                <img class="img-circle img-responsive" src="{{asset('images/timeline/7.jpg')}}" alt="">
		                            </div>
		                            <div class="timeline-panel">
		                                <div class="timeline-heading">
		                                    <h4>Congreso<br>
		                                        teórico y práctico</h4>
		                                </div>
		                            </div>
		                        </li>  
		                    </ul>
		                    <div class="ending text-center" data-aos="slide-up">
		                        <h4>Todos los líderes  
		                            <br>de la dermatología cosmética
		                            <br>y clínica en un mismo evento 
		                        </h4>
		                    </div>
						</div>
					</div>
				</div>
			</section>

		</main>
		{% endblock %}
		<a class="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
		<!-- Footer -->
		<footer class="site-footer" style="background: url('{{asset('images/leaves-yellow-bottom-002.jpg')}}'); background-position: bottom center">
			<div class="container">
				<div class="row gap-y align-items-center">
					<div class="col-12 col-lg-3">
						<p class="text-center text-lg-left">
							<a href="{{path('inicio')}}"><img src="{{asset('images/derma-logo-hor.png')}}" alt="logo" width="120"></a>
						</p>
					</div>

					<div class="col-12 col-lg-6 text-center">
						<p>&copy; Congreso Dermacosmetica 2017</p>
					</div>

					<div class="col-12 col-lg-3">
						<div class="social text-center text-lg-right">
							<a class="social-facebook" href="https://www.facebook.com/Dermacosmetica-1019810828097731/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
							<a class="social-twitter" href="https://twitter.com/dermacosmetica" target="_blank"><i class="fa fa-twitter"></i></a>
							<a class="social-instagram" href="https://www.instagram.com/dermacosmetica/" target="_blank"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- END Footer -->
		<!-- Scripts -->
		<script src="{{asset('js/core.min.js')}}"></script>
		<script src="{{asset('js/thesaas.min.js')}}"></script>
		<script src="{{asset('js/script.js')}}"></script>

	</body>
</html>
