<ul class="topbar-nav nav">
	<li class="nav-item"><a class="nav-link" href="{{path('inicio')}}" >Inicio</a></li>
	<li class="nav-item">
		<a class="nav-link" href="#">Programa <i class="fa fa-caret-down"></i></a>
        <div class="nav-submenu">
			<a class="nav-link" href="{{path('programa')}}">Programa General</a>
			<a class="nav-link" href="{{path('ponentes')}}">Ponentes</a>
        </div>
	</li>
	<li class="nav-item"><a class="nav-link" href="{{path('costos')}}">Costos</a></li>
	<li class="nav-item"><a class="nav-link" href="{{path('hospedaje')}}">Hospedaje</a></li>
	<li class="nav-item">
		<a class="nav-link" href="#">Acerca De <i class="fa fa-caret-down"></i></a>
		<div class="nav-submenu">
			<a class="nav-link" href="{{path('sede')}}">Sede</a>
			<a class="nav-link" href="{{path('cdmx')}}">CDMX</a>
        </div>
	</li>
	<li class="nav-item"><a class="nav-link" href="{{path('laboratorios')}}">Laboratorios</a></li>
	<li class="nav-item"><a class="nav-link" href="{{path('galeria')}}">Galeria</a></li>
	<li class="nav-item"><a class="nav-link" href="{{path('contacto')}}">Contacto</a></li>
</ul>