<ul class="nav navbar-nav navbar-right">
    <li class="hidden">
        <a href="#page-top"></a>
    </li>
    <li>
        <a href="{{path('inicio')}}">Inicio</a>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programa <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{path('programa')}}">Programa General</a></li>
            <li><a href="{{path('ponentes')}}">Ponentes</a></li>
        </ul>
    </li>
    <li>
        <a href="{{path('costos')}}">Costos</a>
    </li>
    <li>
        <a href="{{path('hospedaje')}}">Hospedaje</a>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acerca de<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{path('sede')}}">Sede</a></li>
            <li><a href="{{path('cdmx')}}">CDMX</a></li>
        </ul>
    </li>
    <li>
        <a href="{{path('laboratorios')}}">Laboratorios</a>
    </li>
    <li>
        <a href="{{path('galeria')}}">Galería</a>
    </li>
    <li>
        <a href="{{path('contacto')}}">Contacto</a>
    </li>
</ul>